
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #ffffff;
  color: #363636;
  line-height: 1.6;
  text-align: center;
}


header {
  padding: 20px;
}
main h1{
  margin-top: 1em;
}

#logo img {
  width: 600px;
  height: 150px;
  object-fit: contain; 
  display: block;
  margin: 0 auto;
}

#site-name {
  margin-top: 10px;
  font-size: 1.8rem;
}

nav {
  width: 1280px;
  height: 50px;
  background-color: #317073;
  margin: 0 auto; 
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
  border-radius: 4px; 
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  flex: 1; 
  text-align: center;
}

nav a:hover {
  background: rgba(255, 255, 255, 0.2);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main h2{
    color: #317073;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    

}
#Date{
  color: #317072;
  text-decoration: none;
  font-size: 30px;
  align-items: center;
}
main p{
    margin-left: 50px;
    margin-right: 50px;
    width: clamp(min(93.75vw, 50ch), 70vw, 75ch);
    align-items: center;
}  

#Afspraak-foto{
  margin-bottom: 30px;
  align-items: center; 
}



#lees-meer {
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;         
  background-color: #317073;  
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;       
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

#lees-meer:hover {
  background-color: #255652;  
}
section {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  max-width: 1080px;   
  margin: 30px auto; 
  gap: 20px;          
}

section img {
  width: 100%;
  height: 250px;
  object-fit: cover; 
}

.textblok {
  display: flex;
  flex-direction: column; 
  flex: 1;
  text-align: center;
}
footer {
  width: 1280px;
  height: max-content;
  background-color: #317073;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 4px;
  margin-top: 30px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  width: auto;
  padding: 20px 40px;
}


 .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
}

.links h2{
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}


.links a {
  color: white;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}


@media (min-width < 700px) {
  footer {
    width: 100%;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}


