* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

  body {
  background-color: #ffffff;
  color: #363636;
  line-height: 1.4;
  text-align: center;
  padding: 0 1rem;
  font-size: 16px;
   }

/* HEADER + LOGO */
     header {
      padding: 20px 0;
     
    }

#logo img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

/* NAVIGATIE */
nav {
  background-color: #317073;
  display: flex;
  flex-direction: column; /* kolom op mobiel */
  align-items: center;
  gap: 8px;
  padding: 10px 0;
  border-radius: 4px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

nav a:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* MAIN CONTENT */
main h1 {
  margin-top: 1em;
}

main p {
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

 #Date{
  color: #317072;
  text-decoration: none;
  font-size: 30px;
  align-items: center;
}


#lees-meer {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d09482;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 10px;
}

#lees-meer:hover {
  background-color: #a08c85;
}

/* SECTION */
section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px auto;
  max-width: 100%;
}

section img {
  width: 480px;
  height: auto;
  border-radius: 6px;
}

.textblok {
  display: flex;
  flex-direction: column;
  text-align: center;
}

main h2 {
  color: #317073;
  font-size: 1.5rem;
  margin-top: 1rem;
}

/* FOOTER */
footer {
  background-color: #317073;
  color: white;
  border-radius: 4px;
  margin-top: 40px;
  padding: 20px 10px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.links h2 {
  font-weight: bold;
  text-align: center;
}

.links a {
  color: white;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

/* ====== MEDIA QUERIES ====== */

/* Tablets (vanaf 768px) */
@media (min-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: space-evenly;
    position: sticky;
    top:0;
  }

  main p {
    max-width: 700px;
  }

  section {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1080px;
  }

  section img {
    width: 45%;
  }

  .textblok {
    flex: 1;
  }

  footer {
    padding: 30px 40px;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}

/* Laptops/desktops (vanaf 1024px) */
@media (min-width: 1024px) {
  #logo img {
    max-width: 600px;
  }

  nav {
    max-width: 1280px;
    margin: 0 auto;
  }

  footer {
    max-width: 1280px;
    margin: 30px auto;
  }
}